<!DOCTYPE html>
<html lang="ro">
<head>
    <title><%= titlu %></title>
    <% include('../fragmente/meta.ejs') %>
</head>
<body>
<h1><%= titlu %></h1>
<p><%= text %></p><br><br>
<img src="<%= imagine %>" alt="<%= titlu %>">
</body>
</html>
