<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Eventz | Evenimente</title>
    <%- include('../fragmente/meta.ejs') %>
</head>
<body>

<%- include('../fragmente/header.ejs') %>
<main>
    <section>
        <h2>
            <a href="/evenimente">Evenimente</a> /
            <span class="text-secondary"><%= categorie_1 ? obGlobal.categorii[categorie_1] : 'Toate' %></span>

            <% if (keyword) { %>
                <small class="text-primary">(filtrată după "<%= keyword %>")</small>
            <% } %>
        </h2>

        <div id="filters" class="bg-white">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label for="eventName">Nume eveniment:</label>
                    <input type="text" id="eventName" name="eventName" class="form-control">
                </div>
                <div class="col-md-3 form-group">
                    <label for="studentPrice">Pret student:</label>
                    <input type="range" id="studentPrice" name="studentPrice" step="1" value="0" class="form-control">
                    <output id="studentPriceOutput" class="form-text text-muted">0</output>
                </div>
                <div class="col-md-3 form-group">
                    <label>Adult-only 🔞</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="adultiYes" name="adulti" value="yes" class="form-check-input">
                            <label for="adultiYes" class="form-check-label">Da</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="adultiNo" name="adulti" value="no" class="form-check-input">
                            <label for="adultiNo" class="form-check-label">Nu</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" id="adultiAll" name="adulti" value="all" checked class="form-check-input">
                            <label for="adultiAll" class="form-check-label">Toate</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 form-group">
                    <label>Sortare:</label>
                    <div>
                        <button id="sortAsc" class="btn btn-secondary">Ascendent</button>
                        <button id="sortDesc" class="btn btn-secondary">Descendent</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 filter-buttons">
                    <button id="filtreaza" class="btn btn-secondary">
                        <i class="fa fa-filter"></i> <span>Filtreaza</span>
                    </button>
                    <button id="reset" class="btn btn-primary">
                        <i class="fa fa-undo"></i> <span>Resetare filtre</span>
                    </button>
                    <button id="calculeaza" class="btn btn-secondary">
                        <i class="fa fa-calculator"></i> <span>Calculeaza media preturilor</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="row evenimente">
            <% events.forEach(event => { %>
                <article class="col-md-4 <%= event.categorie_1 %>" id="elem_<%= event.id %>" data-visible="1">
                    <div class="col-md-12 event-card bg-white">
                        <h3 class="card-title">
                            <%= event.nume %>
                            <%- include('../fragmente/icon_categorie.ejs', {categorie: event.categorie_1}) %>
                        </h3>

                        <div class="row">
                            <div class="col-md-7">
                                <table>
                                    <tr>
                                        <td>Locatie:</td>
                                        <td><%= event.locatie %></td>
                                    </tr>
                                    <tr>
                                        <td>Data:</td>
                                        <td>
                                            <time datetime="<%= event.data %>"><%= new Date(
                                                        event.data).toLocaleDateString('ro-RO', {
                                                    weekday: 'long',
                                                    day: 'numeric',
                                                    month: 'long',
                                                    year: 'numeric'
                                                }) %></time>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Pret:</td>
                                        <td>
                                            <%= event.pret %> RON
                                            <small>(Studenti: <%= event.pret_studenti %> RON)</small>

                                            <sup>raport: <%= (event.pret_studenti / event.pret).toFixed(2) %></sup>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Adult-only 🔞</td>
                                        <td><%= event.adulti ? 'Da' : 'Nu' %></td>
                                    </tr>
                                    <tr>
                                        <td>Tag-uri:</td>
                                        <td><%= event.tags %></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-5">
                                <a href="/eveniment/<%= event.id %>">
                                    <img src="<%= event.imagine[0] %>" alt="<%= event.nume %>">
                                </a>
                            </div>
                        </div>
                        <p>
                            <%= event.descriere %>. <a href="/eveniment/<%= event.id %>">Detalii &raquo;</a>
                        </p>
                        <p>
                            <strong>Categorie:</strong>
                            <a href="/evenimente/<%= event.categorie_1 %>"><%= obGlobal.categorii[event.categorie_1] %></a>
                        </p>
                    </div>
                </article>
            <% }); %>
        </div>

        <div class="pagination"></div>
    </section>
</main>

<%- include('../fragmente/footer.ejs') %>

<div class="modal fade" id="modalEveniment" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Detalii eveniment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Închide</button>
            </div>
        </div>
    </div>
</div>

<script>
  $(document).ready(function() {
    let events = <%- JSON.stringify(events) %>;

    let currentPage = 1;
    const eventsPerPage = 6;

    function displayEvents() {
      let allVisibleArticles = $('.evenimente article[data-visible="1"]');

      // Calculam indexul de start si de sfarsit pentru evenimentele de pe pagina curenta
      let start = (currentPage - 1) * eventsPerPage;
      let end = start + eventsPerPage;

      // Afisam doar evenimentele pentru pagina curenta
      allVisibleArticles.each(function(index) {
        if (index >= start && index < end) {
          $(this).show();
        } else {
            $(this).hide();
        }
      });
    }

    function generatePaginationLinks() {
      // Stergem linkurile existente
      $('.pagination').empty();

      // Generam noile linkuri
      let visibleArticles = $('.evenimente article[data-visible="1"]').length;
      let totalPages = Math.ceil(visibleArticles / eventsPerPage);

      if (totalPages <= 1) {
        return;
      }

      for (let i = 1; i <= totalPages; i++) {
        let link = $('<a>').attr('href', '#').text(i).click(function(e) {
          e.preventDefault();
          currentPage = i;
          displayEvents();

          $('.pagination a').removeClass('active');
          $(this).addClass('active');
        });

        if (i === currentPage) {
          link.addClass('active');
        }

        $('.pagination').append(link);
      }
    }

    // Filtrare evenimente
    let nameInput = $('#eventName');
    let studentPriceInput = $('#studentPrice');

    let filterButton = $('#filtreaza');
    let resetButton = $('#reset');

    filterButton.click(filterEvents);
    resetButton.click(resetEvents);

    function filterEvents() {
      // Hide all
      $('.evenimente article').attr('data-visible', '0');

      let searchName = faraDiacritice(nameInput.val().toLowerCase());
      let filterStudentPrice = studentPriceInput.val();
      let filterAdults = $('input[name="adulti"]:checked').val();

      // Filtram evenimentele
      let filteredEvents = events.filter(event => {
        let name = event.nume_normalizat.toLowerCase();

        // Verificam daca evenimentul se potriveste cu filtrele
        let nameMatches = name.includes(searchName);
        let studentPriceMatches = event.pret_studenti >= filterStudentPrice;
        let booleanMatches = (filterAdults === 'all') || (event.adulti && filterAdults === 'yes') ||
            (!event.adulti && filterAdults === 'no');

        return nameMatches && studentPriceMatches && booleanMatches;
      });

      // Afisam doar evenimentele care se potrivesc cu filtrele
      filteredEvents.forEach(event => {
        $('#elem_' + event.id).attr('data-visible', '1');
      });

      // Resetam pagina la 1 si actualizam paginarea
      currentPage = 1;
      generatePaginationLinks();
      displayEvents();
    }

    // Initializam paginarea si afisam evenimentele pentru prima pagina
    generatePaginationLinks();
    displayEvents();

    function resetEvents() {
      if (!confirm('Sigur dorești să resetezi filtrele?')) {
        return;
      }

      nameInput.val('');
      studentPriceInput.val(0);
      $('#studentPriceOutput').textContent = '0';
      $('input[name="adulti"][value="all"]').prop('checked', true);

      // Show all
      $('.evenimente article').attr('data-visible', '1');

      // Resetam pagina la 1 si actualizam paginarea
      currentPage = 1;
      generatePaginationLinks();
      displayEvents();
    }

    function faraDiacritice(str) {
      const diacritice = {
        'ă': 'a',
        'â': 'a',
        'î': 'i',
        'ș': 's',
        'ț': 't',
        'Ă': 'A',
        'Â': 'A',
        'Î': 'I',
        'Ș': 'S',
        'Ț': 'T',
      };

      return str.split('').map(function(char) {
        return diacritice[char] || char;
      }).join('');
    }

    // Modal eveniment
    $('.event-card').click(function() {
      let eventId = $(this).parent().attr('id').split('_')[1];

      $.get(`/eveniment/${eventId}?modal=1`, function(html) {
        $('#modalBody').html(html);
        let modal = new bootstrap.Modal($('#modalEveniment')[0]);
        modal.show();
      }).fail(function() {
        console.error('A apărut o eroare:');
      });
    });

    // Afisare pret student la slider
    $('#studentPrice').on('input', function() {
      $('#studentPriceOutput').text($(this).val());
    });

    // Calculare medie preturi
    $('#calculeaza').click(calculateAverage);

    function calculateAverage() {
      // Selectam evenimentele afisate
      let displayedEvents = Array.from($('.evenimente article')).
          filter(event => event.style.display !== 'none');

      // Calculam media preturilor
      let sum = 0;
      displayedEvents.forEach(card => {
        let eventId = card.id.split('_')[1];
        let event = events.find(event => event.id == eventId);

        sum += parseFloat(event.pret);
      });

      let average = sum / displayedEvents.length;

      // Cream div-ul
      let div = document.createElement('div');
      div.classList.add('calcul-evenimente');
      div.textContent = 'Media preturilor: ' + average.toFixed(2) + ' RON';

      // Adaugam div-ul la document
      document.body.appendChild(div);

      // Stergem div-ul dupa 2 secunde
      setTimeout(function() {
        document.body.removeChild(div);
      }, 2000);
    }

    // Sortare
    let sortAscButton = $('#sortAsc');
    let sortDescButton = $('#sortDesc');

    sortAscButton.click(function() {
      sortEvents('asc');
    });

    sortDescButton.click(function() {
      sortEvents('desc');
    });

    function sortEvents(order) {
      // Selectam containerul evenimentelor
      let container = $('.evenimente');

      // Sortam evenimentele (implicit ascendent)
      events.sort((a, b) => {
        let ratioA = a.pret_studenti / a.pret;
        let ratioB = b.pret_studenti / b.pret;

        if (ratioA < ratioB) {
          return -1;
        } else if (ratioA > ratioB) {
          return 1;
        } else {
          // Daca rapoartele sunt egale, sortam dupa subcategorie
          if (a.categorie_2 < b.categorie_2) {
            return -1;
          } else if (a.categorie_2 > b.categorie_2) {
            return 1;
          } else {
            return 0;
          }
        }
      });

      // Dam flip la array pentru sortarea descendenta
      if (order === 'desc') {
        events.reverse();
      }

      // Parcurgem evenimentele sortate si le mutam in container in ordinea noua
      events.forEach(event => {
        let eventElement = $('#elem_' + event.id);
        container.append(eventElement);
      });
    }
  });
</script>

</body>
</html>
