<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Eventz | Evenimente</title>
    <%- include('../fragmente/meta.ejs') %>
</head>
<body>

<%- include('../fragmente/header.ejs') %>
<main>
    <section>
        <h2>
            <a href="/evenimente">Evenimente</a> /
            <span class="text-secondary"><%= categorie_1 ? obGlobal.categorii[categorie_1] : 'Toate' %></span>
        </h2>
        <div class="row evenimente">
            <% events.forEach(event => { %>
                <article class="col-md-4 <%= event.categorie_1 %>" id="elem_<%= event.id %>">
                    <h3 class="card-title">
                        <%= event.nume %>
                        <%- include('../fragmente/icon_categorie.ejs', {categorie: event.categorie_1}) %>
                    </h3>

                    <div class="row">
                        <div class="col-md-7">
                            <table>
                                <tr>
                                    <td>Locatie:</td>
                                    <td><%= event.locatie %></td>
                                </tr>
                                <tr>
                                    <td>Data:</td>
                                    <td><time datetime="<%= event.data %>"><%= new Date(event.data).toLocaleDateString('ro-RO', {weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'}) %></time></td>
                                </tr>
                                <tr>
                                    <td>Pret:</td>
                                    <td><%= event.pret %> RON <small>(Studenti: <%= event.pret_studenti %> RON)</small></td>
                                </tr>
                                <tr>
                                    <td>Adult-only 🔞</td>
                                    <td><%= event.adulti ? 'Da' : 'Nu' %></td>
                                </tr>
                                <tr>
                                    <td>Tag-uri:</td>
                                    <td><%= event.tags %></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-md-5">
                            <a href="/eveniment/<%= event.id %>">
                                <img src="<%= event.imagine %>" alt="<%= event.nume %>">
                            </a>
                        </div>
                    </div>
                    <p>
                        <%= event.descriere %>. <a href="/eveniment/<%= event.id %>">Detalii &raquo;</a>
                    </p>
                    <p>
                        <strong>Categorie:</strong> <a href="/evenimente/<%= event.categorie_1%>"><%= obGlobal.categorii[event.categorie_1] %></a>
                    </p>
                </article>
            <% }); %>
        </div>
    </section>
</main>

<%- include('../fragmente/footer.ejs') %>

</body>
</html>
