<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Eventz | Eveniment | <%= event.name %></title>
    <%- include('../fragmente/meta.ejs') %>
</head>
<body>

<%- include('../fragmente/header.ejs') %>
<main>
    <section>
        <%- include('../fragmente/eveniment.ejs') %>
    </section>
</main>

<%- include('../fragmente/footer.ejs') %>

</body>
</html>
