<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Eventz | Evenimente</title>
    <%- include('../fragmente/meta.ejs') %>
</head>
<body>

<%- include('../fragmente/header.ejs') %>
<main>
    <section>
        <h2>Evenimente</h2>
        <div class="row evenimente">
            <% events.forEach(event => { %>
                <article class="col-md-4 <%= event.categorie_1 %>" id="elem_<%= event.id %>">
                    <h3 class="card-title">
                        <%= event.nume %> #<%= event.id %>
                        <%- include('../fragmente/icon_categorie.ejs', {categorie: event.categorie_1}) %>
                    </h3>
                    <table>
                        <tr>
                            <td>Pret:</td>
                            <td><%= event.pret %> RON</td>
                        </tr>
                        <tr>
                            <td>Data:</td>
                            <td><time datetime="<%= event.data %>"><%= new Date(event.data).toLocaleDateString('ro-RO', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'}) %></time></td>
                        </tr>
                        <!-- Adăugați aici alte rânduri pentru caracteristicile rămase -->
                    </table>
                    <p><%= event.descriere %></p>
                    <img src="<%= event.imagine %>" alt="<%= event.nume %>">
                </article>
            <% }); %>
        </div>
    </section>
</main>

<%- include('../fragmente/footer.ejs') %>

</body>
</html>
