<h2>
    <a href="/evenimente">Evenimente</a> /
    <a href="/evenimente/<%= event.categorie_1 %>"><%= obGlobal.categorii[event.categorie_1] %></a> /
    <span class="text-secondary"><%= event.nume %></span>
    <%- include('../fragmente/icon_categorie.ejs', {categorie: event.categorie_1}) %>
</h2>
<div class="row evenimente">
    <article class="col-md-12 <%= event.categorie_1 %>" id="elem_<%= event.id %>">
        <div class="row">
            <div class="<%= modal ? 'col-md-12' : 'col-md-7' %>">
                <table>
                    <tr>
                        <td>Locatie</td>
                        <td><%= event.locatie %></td>
                    </tr>
                    <tr>
                        <td>Data</td>
                        <td>
                            <time datetime="<%= event.data %>"><%= new Date(event.data).toLocaleDateString('ro-RO',
                                        {weekday: 'long', day: 'numeric', month: 'long', year: 'numeric'}) %></time>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Pret
                            <% if (locals.offer && locals.offer.categorie === event.categorie_1) { %>
                                <span class="badge bg-warning-subtle text-primary">-<%= locals.offer.reducere %>%</span>
                            <% } %>
                        </td>
                        <td>
                            <% if (locals.offer && locals.offer.categorie === event.categorie_1) { %>
                                <small class="strike"><%= event.pret %> RON</small>
                                <%= (event.pret - (event.pret * locals.offer.reducere / 100)).toFixed(2) %> RON

                                <br>
                                <small>(Studenti: <small class="strike"><%= event.pret_studenti %> RON</small> <%= (event.pret_studenti - (event.pret_studenti * locals.offer.reducere / 100)).toFixed(2) %> RON)</small>
                            <% } else { %>
                                <%= event.pret %> RON
                                <br>
                                <small>(Studenti: <%= event.pret_studenti %> RON)</small>
                            <% } %>

                            <sup>raport: <%= (event.pret_studenti / event.pret).toFixed(2) %></sup>
                        </td>
                    </tr>
                    <tr>
                        <td>Adult-only 🔞</td>
                        <td><%= event.adulti ? 'Da' : 'Nu' %></td>
                    </tr>
                    <tr>
                        <td>Subcategorie</td>
                        <td><%= event.categorie_2 %></td>
                    </tr>
                    <tr>
                        <td>Tag-uri</td>
                        <td><%= event.tags %></td>
                    </tr>
                </table>

                <p>
                    <%= event.descriere %>
                </p>
                <p>
                    <strong>Categorie:</strong>
                    <a href="/evenimente/<%= event.categorie_1 %>"><%= obGlobal.categorii[event.categorie_1] %></a>
                </p>
            </div>
            <div class="<%= modal ? 'col-md-12' : 'col-md-5' %>">
                <% if(event.imagine.length > 1) { %>
                    <div id="eventCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% event.imagine.forEach((img, index) => { %>
                                <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                                    <img class="d-block w-100" src="<%= img %>" alt="<%= event.nume %>">
                                </div>
                            <% }); %>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#eventCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#eventCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                <% } else { %>
                    <img src="<%= event.imagine[0] %>" alt="<%= event.nume %>">
                <% } %>
            </div>
        </div>
    </article>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    let carouselElement = document.querySelector('#eventCarousel');
    new bootstrap.Carousel(carouselElement, {interval: 1500});
  });
</script>

