<div class="gallery-grid">
    <% for(let i = 0; i < images.length; i++) { %>
        <figure>
            <picture>
                <source srcset="<%= images[i].cale_fisier ;%>" media="(min-width: 800px)">
                <source srcset="<%= images[i].cale_fisier ;%>" media="(min-width: 400px)">
                <img title="<%= images[i].text_descriere ;%>" src="<%= images[i].cale_fisier ;%>" alt="<%= images[i].alt || images[i].titlu ;%>">
            </picture>
            <figcaption><%= images[i].text_descriere ;%></figcaption>
        </figure>
        <figure></figure>
    <% } %>
</div>
