<div class="gallery-grid">
    <% for(let i = 0; i < images.length; i++) { %>
        <figure>
            <picture>
                <source srcset="<%= images[i].thumbs[1000]; %>" media="(min-width: 1000px)">
                <source srcset="<%= images[i].thumbs[600]; %>" media="(min-width: 600px)">
                <img title="<%= images[i].text_descriere ;%>" src="<%= images[i].thumbs[400]; %>" alt="<%= images[i].alt || images[i].titlu ;%>">
            </picture>
            <figcaption><%= images[i].text_descriere ;%></figcaption>
        </figure>
        <figure class="placeholder"></figure>
    <% } %>
</div>
